body { 
    font-family:'Segoe UI';
    padding-top: 4.8rem;
}
a { text-decoration: none; }

.scroll-top { scroll-margin-top: 4.8rem; }
.button-bold { font-weight: bold; }
.silver { background-color: #ccd; }
.title { font-size: 3rem; }
.footer-text { font-size: 14px; }

#btnTop { 
    display: none;
    bottom: 30px; 
    right: 20px;
    animation-duration: .15s;
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes fadeOut {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

@media (hover: hover) and (pointer: fine) {
    .link-dark:hover, .link-light:hover { 
        color: #e1a04b !important; 
        transition: .2s;
    }
    #btnTop:hover { 
        background-color: green !important; 
        transition: .3s; 
    }
}
